body {         /*le corps niassy */
    background-color: rgb(14, 180, 192);
    display: flex;
    justify-content: center;
    align-items: center; 
    min-height: 100vh  ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}
.container {  /*niassy le conteneur principal*/


    position: relative;
    width: 100%;
    margin: 50px;
    max-width: 1000px;
    min-height: 800px;
    background-color: #ffffffc9;
    display: grid;
    grid-template-columns: 3fr 2fr;
}
.container .cote-gauche 
{   /*niassy le conteneur à gauche*/
position: relative;  
background-color: #ffffffc9;
padding: 40px;
padding-top: 500px;
}



.exp .box  {  /* niassy la partie experience*/

    display: flex;
    flex-direction: row;
    margin: 5px  0;
}
.exp .box .annee { /*niassy la partie experience*/ 
    min-width: 100px;
}

.edu .box1  { /* niassy la partie experience*/

    display: flex;
    flex-direction: row;
    margin: 5px  0;
}
.edu .box1 .annee1 { /* niassy la partie experience*/
    min-width: 100px;
}

.title-edu {
    border: 10px solid rgb(255, 169, 10); /* niassy le titre  education*/
    background-color: rgb(255, 169, 10);
    border-radius: 5px;
    text-align: right;
    font-size: 35px;
}

.title-exp {   /* niassy le titre de experience*/
    border: 10px solid rgb(255, 169, 10) ;
    background-color: rgb(255, 169, 10);
    border-radius: 5px;
    text-align: right;
    font-size: 35px;
}

.pied { /*le couleur de la pied de la page*/
    border: 2px solid orange;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 2px solid orange;
    padding: 10px 0;
    background-color: orange;

    
}

.bullet { /*les bullets orange*/

    width: 20px;
    height: 20px;
    background-color: orange;
    margin-right: 15px;
    align-self :flex-start;
    margin-top: 36px;
}




.container .cote-droite {
    position :relative;
    background-color: black;
    padding: 30px;
    
    }
    
    #Contact {
        padding-top: 350px;
        text-align: center;
    }
    
    .Titre1 {
        text-align: center;
        margin-bottom: 20px;
        color: white;
        border: 2px solid orange;
    }
    
    .contact-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        color: white;
        align-items: center;
    }
    
    .block {
        display: flex;
        align-items: center;
    }
    
    .icone {
        margin-right: 10px;
        font-size: 2em;  
        color: orange;
        
    }
    
    .text {
        line-height: 1.6; /* Adjust the spacing between lines */
    }
    
    .stitre{
        font-weight: bold;
    }
    #Skills{
        padding-top: 200px;
        text-align: center;
    }
    
    .sotitre{
        font-size: 30x;
        color: white;
        font-weight: bold;
    }
    .percent{
        position: relative;
        width: 100%;
        height: 10px;
        border: 1px solid orange;
        display: block;
        margin-top: 5px;
    }
    .percent div{
        position: absolute;
        top: 0%;
        left: 0%;
        height: 100%;
        background: orange;
    }
    .Skills, ul, li {
        margin: 10px;
    }
    #df{
        margin-top: 750px;
        display: block;
        text-align: center;
    }
    .trait{
        position: relative;
        width: 65%;
        height: 2px;
        border: 1px solid white;
        background: white;
        margin-left: 75px;
        margin-bottom: 20px;
        
    }
    .ls{
        font-size: 35px;
        color: white;
        padding: 10px;
        padding-left: 5px;   
    }
    .dép{
        padding-left: 40px;
    }
    .texte{
        text-align: justify;
    }
.profile{
    position: absolute;
    margin-left: 100px;
    margin-top: 100px;
     
    width: 90%;
    height: 200px;
    background-color: orange;
    z-index: 10;
    display: flex;
    
}
.img1{
    padding: 10px;
    padding-left: 30px;
}

 .ls:hover{
    color: orange;
 }
